*.log
.DS_Store
.gradle
.classpath
.project
.settings
.idea
.vertx
.yardoc
.yardopts
build
target
out
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.iml
*.class
db
logs
src/main/generated
